@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    color: #303c42;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
}

img {
    width: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* header */
.menu {
    display: flex;
    align-items: center;
    background: #303c42;
}

.logo {
    width: 25%;
    padding: 10px 16px;
}

.logo a {
    display: block;
    max-width: 100px;
}

.menu nav {
    width: 50%;
}

nav ul {
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul a {
    display: block;
    position: relative;
    font-size: 16px;
    background: transparent;
    transition: .5s;
}

.menu nav {
    border-left: 1px solid #1f2d33;
    border-right: 1px solid #1f2d33;
}

.menu ul a {
    padding: 35px 16px;
    color: #fff;
}

nav ul a:hover{
    color: #25c0f0;
    background: #3c4a50;
}

nav ul a.active {
    color: #25c0f0;
}

/* submenu */
.submenu {
    display: flex;
    background: #10a8fe;    
}

.submenu ul {
    width: 50%;
    text-align: center;
}

.submenu ul:first-child {
    border-right: 1px solid #0088d6;
}

.submenu ul a {
    padding: 16px;
    color: #fff;
}

/* header */

/* main */
main {
    display: flex;
}

/* article and footer */
.contain {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.contain article {
    flex-grow: 1;
    padding: 46px 16px 16px;
}

.category {
    display: inline-block;
    color: #ff426d;
    font-size: 12px;
    transition: .5s;
}

.category:hover {
    color: #25c0f0;
}

.contain article h2 {
     padding: 20px 0;
}

.time {
    font-size: 12px;
    color: #9d9d9d;
    font-style: italic;
}

.image-b {
    padding: 10px 0 30px;
}

.contain article p {
    line-height: 1.5;
    padding-bottom: 20px;
}

footer {
    padding: 16px;
    color: #fff;
    font-size: 12px;
    text-align: center;
    background: #303c42;
}
/* article and footer */

/* aside */
aside {
    width: 25%;
    padding: 16px;
    background: #fbfbfb;
}

aside h3 {
    padding: 30px 0;
}

aside .item {
    padding-bottom: 30px;
}

aside .item .image {
    display: block;
    margin-bottom: 20px;
    overflow: hidden;
}

aside .item .image img {
    transition: .5s;
}

aside .item .image:hover img {
    transform: scale(1.1);
}

aside .item h4 {
    margin: 0;
    padding: 10px 0;
}
/* main */

/*search*/
form {
    width: 25%; 
    padding: 0 16px; 
}

.form-search {
    display: flex;
    position: relative;
    padding: 10px 0;
}

.form-search label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
.form-search input {
    height: 34px;
    width: 100px;
    margin-left: auto;
    padding: 10px 40px 10px 10px;
    border-radius: 17px;
    border: none;
    background: #fff;
    transition: .5s;
    outline: none;
}

.form-search input:focus,
.form-search input:hover {
    width: 100%;
}

.form-search button {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 7px;
    height: 24px;
    width: 24px;
    outline: none;
    background: transparent;
    border: none;
}

.form-search button .search-icon {
    display: block;
    height: 16px;
    width: 16px;
    margin: 0 auto;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
/*search*/